# Configure third-party service credentials
# in environment variables:
packages:
  yum:
    htop: []
    #patch: []
    postgresql93-devel: []
    samba-client: []

option_settings:
  - option_name: NEW_RELIC_LICENSE_KEY 
    value: 374a73b4a849252c2e0a436991bc980b4d8d3378 
  - option_name: NEW_RELIC_APP_NAME
    value: EB-Demo-Development

# Run rake tasks before an application deployment
container_commands:
  01deploy:
    command: rake db:migrate 
  02deploy:
    command: rake db:seed
  03deploy:
    command: rake assets:precompile
